<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. RRatChet Open Source Project.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~ 项目名称：rratchet-youtu-trunk
  ~ 模块名称：app
  ~
  ~ 文件名称：AndroidManifest.xml
  ~ 文件描述：
  ~
  ~ 创 建 人：ASLai(laijianhua@rratchet.com)
  ~
  ~ 上次修改时间：2019-05-06 18:08:13
  ~
  ~ 修 改 人：ASLai(laijianhua@rratchet.com)
  ~ 修改时间：2019-05-06 18:12:05
  ~ 修改备注：
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.rratchet.youtu.app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="YOUTU_APP_ID"
                   android:value="10008768"/>

        <meta-data android:name="YOUTU_SECRET_ID"
                   android:value="AKIDN8lBPUYSHuNdkCAjhVhnhQwISHyumQvd" />

        <meta-data android:name="YOUTU_SECRET_KEY"
                   android:value="jV6rTt782nU4hgaN3bkkXBbzGNI1a0oS" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>